body {
  margin: 0;
  background-color: #f4f6f9;
}

.content-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  padding: 20px;
  box-sizing: border-box;
}
